body{
	background-color: rgb(230,200,230);
	margin: 0px;
}
.navbar{
	margin: 0px;
	padding: 0px;
	position: fixed;
	top:0;
	width: 100%;
}

.navbar ul{
	background: rgb(200,200,200);
	border: solid 1px black;
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	float: center;
	display: flex;
	list-style: none;
}

.navbar ul li{
	text-align: center;
	padding: 10px;
	border: solid 1px black;
	background: rgb(200,200,200);
	width: 100%;
}
.navbar a{
	color: black;
	text-decoration: none;
}
.navbar ul li:hover{
	font-size: 15pt;
	background-color: rgb(255,220,220);
}
#intro{
	margin: 10px;
}
#teams table tr td{
	padding: 10px;
	border: solid 1px black;
}
#extrainfo{
	margin: 0px;
}
#extrainfo ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#extrainfo ul li{
	padding: 30px;
}