
@font-face{
	font-family: thinktwice;
	src: url(Fonts/thinktwice.ttf);
}
@font-face{
	font-family: anarchy;
	src: url(Fonts/anarchy.ttf);
}
@font-face{
	font-family: lemonade;
	src: url(Fonts/lemonade.ttf);
}

#section1{
	font-size: 50pt;
	font-family: anarchy;
	text-align: center;
}
#mysites{
	font-size: 30pt;
	font-family: thinktwice;
	text-align: center;
}


body{
	background-color: rgb(235, 235,255);
}

#table{

	font-size: 25pt;
	font-family: lemonade;
}

#table tr td{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;

	text-decoration-color: black;
	text-align: center;
}

#table tr td:hover{
	background-color: rgba(0,0,255,.25);
	font-size: 40pt;
	padding: 20px;
}
#table tr td:hover a{
	color: white;
}

#table tr td a{
	text-decoration: none;
	color: black;
}










