body{
	background: rgba(240,200,90,.8);
}
#header{
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#header a{
	flex-grow: 1;
	flex-direction: row;
	text-align: center;
	text-decoration: none;
}
#header a li{
	padding: 10px;
}

#header a li:hover{
	background-color: rgb(240,240,200);
}

.col-md-4 ul{
	list-style: none;
}

#quotes{
	margin-left: 30px;
}
ol.breadcrumb{
	margin-bottom: 0px;
}
div#cards{
	margin: 0px;
	padding: 0px;
}

#cards_ul{
	padding: 0px;
	display: flex;
	list-style: none;
	margin: 0px;
}
div#card1.card{

	margin-left: 0px;
	height: 400px;
	width: 220px;
}
#cards_ul li{
	flex-grow: 1;
	margin: 0px;
	padding: 10px;
}


div#inputs{
	margin-top: 10px;
}

#inputs h3{
	text-align: center;
	margin-top: 20px;
}

#inputs{
	text-align: center;
}
input#add_speaker.quote_input{
}
input#add_quote.quote_input{
	margin-left: 10px;
}
.quote_input{
margin-bottom: 10px;
margin-top: 20px;

}































